PORT=4000
MONGO_URI=mongodb://localhost:27017/almaleek
JWT_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me_too
JWT_ISSUER=almaleek
JWT_AUDIENCE=almaleek_users
FRONTEND_URL=http://localhost:3000

LICENSE_MODE=off
LICENSE_FILE_PATH=./license.json
# LICENSE_PUBLIC_KEY_PEM=
# LICENSE_PUBLIC_KEY_PATH=./public_key.pem

